<div class="hero">
  <div class="hero-text">
    <h1>Gaming Store</h1>
    <p>Gaming keyboards, headsets, acessories, and more!</p>
  </div>
</div>
<div class="home-info">
  <div class="info-card">
    <h1>PRODUCT SPOTLIGHT</h1>
    <img src="https://placehold.it/250x250" alt="">
  </div>
  <div class="info-card">
    <h1>KEYBOARDS</h1>
    <img src="https://placehold.it/250x250" alt="">
  </div>
  <div class="info-card">
      <h1>MOUSEPADS</h1>
      <img src="https://placehold.it/250x250" alt="">
  
    </div>
</div>